@import "tailwindcss";

@theme static {
  --color-primary: #000000;
  --color-secondary: #171717;
  --color-accent: #1c1c1c;
  --color-text: #ffffff;
  --color-text-secondary: #b0b0b0;
  --color-border: #2e2e2e;
  --color-hover: #3c3c3c;

}
body{
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 2s ease-out forwards;
}
